---
import Layout from "../layouts/Layout.astro";
---

<Layout title="R4ve der Karten">
  <main>
    <blockquote>
      "Oh Gott, wen soll ich denn jetzt anfeuern?"
      <br />
      <span class="author">Elsor</span>
    </blockquote>
    <br /><br />
    <blockquote>
      "Immer r4ve, weil alle auf matte's Seite sind."
      <br />
      <span class="author">th3buddha89</span>
    </blockquote>
    <div class="quote-background">
      <p class="quote-origin">
        Die Bewegung "R4veDerKarten" wurde am 04.02.2023 gegründet. Diese
        äußerst aggressive Randgruppe der FM-Community ist für ihr unglaubliches
        RNG bekannt. Unter anderem gewannen Sie ein denkwürdiges Comeback im
        legendären Duell zwischen TheR4venite und Mxmatte.
      </p>
    </div>
  </main>
</Layout>

<style>
  body {
    text-align: center;
  }
  blockquote {
    font-size: 20px;
    font-style: italic;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: #FFEAA3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }
  .author {
    font-size: 14px;
    float: right;
    margin-right: 8px;
    margin-top: 8px;
  }
  .quote-background {
    background-color: #D3C947;
    width: 100%;
  }
  .quote-origin {
    padding: 40px;
    font-style: normal;
    font-size: 18px;
    width: 30%;
    margin: 40px auto;
    text-align: center;
  }
</style>
